{% for item in page.features %}
  {% assign url = item.url | prepend: site.baseurl %}

  <div class="feature-item">
    <div style="float:left;">
      <a href="{{ url }}">
        <img
          src="{{ item.image | absolute_url }}"
          alt="{{ item.title || item.image.alt }}"
          class="img--circle"
        />
      </a>
    </div>

    <span class="feature-text">
      <a href="{{ url }}">{{ item.title }}</a>
      &mdash;
      {{ item.description }}
    </span>
  </div>

{% endfor %}
