<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        {% if site.footer.follow and site.footer.follow.size > 0 %}
          <h4>SOCIALS</h4>

          <div class="social-links follow-links">
            {% for follow in site.footer.follow %}
              <div class="social-link">

                {% assign follow_icon_path = "/assets/img/icons/" | append: follow.name | downcase | append: ".png" | absolute_url %}
                <img
                  src="{{ follow_icon_path }}"
                  alt="{{ follow.name | downcase }}"
                />
                <a href="{{ follow.link }}">
                  {% if follow.value and follow.value != "" and follow.value != nil %}
                    {{ follow.value }}
                  {% else %}
                    {{ follow.name }}
                  {% endif %}
                </a>
              </div>

            {% endfor %}
          </div>
        {% endif %}
      </div>

      <div class="footer-col footer-col-2"></div>

      <div class="footer-col footer-col-3">
          <h4>SUBSCRIBE</h4>
          <div>
            {% include signup.html %}
          </div>
      </div>
    </div>
  </div>
</footer>
